{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-whitespace-inside": null,
    "max-empty-lines": null,
    "function-parentheses-space-inside": null,
    "rule-empty-line-before": null,
    "comment-empty-line-before": null
  }
}