@import "variables";
@import "~unchained-ui-react/src/styles/default.theme";
@import "bmo_checkbox";
@import "bmo_buttons";
@import "bmo_header";
@import "bmo_images";
@import "bmo_chevrons";
@import "bmo_dropdown";
@import "bmo_textbox";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import '~react-quill/dist/quill.snow.css';


.unchainedEditableEl {
  position: relative;
  display: inline;
  text-align: right;
  
  .unchainedEditableBtn {
    text-align: right;
    display: inline;
    position: absolute;
    z-index: 300;
    // width: 100%;
  }
  .ui.button.icon i.icon{
    color: black;
  }
  .editButtonUnchainedEditableEl {
    background: transparent;
    border: none;
    outline: none;
  }
}
.unchainedEditableElSettingsPopup {
  .setting-control {
    margin: 50px 20px;
    .ui.input {
      width: 100%;
      input {
        background-color: transparent;
        border: solid 1px #ccc;
      }
    }
    .ui.button.editBtn{
      background: none;
      padding: 0;
      .edit.icon {
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  /*
  &.parentEl {
    display: inline;
    background-color: #0079c1  ;
    border: solid 1px #ccc;
    padding: 20px;
    .editButtonUnchainedEditableEl {
      top: 0;
      right: 0;
    }
  }
  */
}

#docs-loading-dimmer.ui.dimmer {
  background-color: rgba(255, 255, 255, 0.75);
}

.ui.loader::after {
  border-color: #0079c1 transparent transparent !important;
}
.ui.checkbox label{
  color: $primaryGray;
}

.ui.loader::before, .ui.loader::after {
  width: 2.8571428625rem;
  height: 2.8571428625rem;
  margin: 0 0 0 -1.85rem;
}
.ui.loader::after {
  content: '';
  animation: bmoloader $loaderSpeed linear;
  animation-iteration-count: infinite;
}

.ui.label.input-label {
  @include appDefaultFontStyleRegular();
  padding-bottom: 5px;
}
.ui.page.modals.dimmer.transition.visible.active {
  z-index: 10031;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] {
  @include appDefaultFontStyleRegular();
  font-size: $deskSz8;
}

/* Active Animation */
@keyframes bmoloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  font-family: $appDefaultFont !important;
  font-size: 16px !important;
  width: 100%;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  color: $primaryGray;
  #app{
    font-family: $appDefaultFont !important;
    overflow: hidden;
  }
  .ui.fluid.container {
    max-width: $screen-windows-lg !important;
    margin: 0 auto !important;
  }
  input::-ms-clear {
    display: none;
  }
  .lollypop-carousel + .left-bar-menu {
    .v-hr {
      display: none;
    }
  }
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item, .ui.dropdown .menu > .item, .ui.search.dropdown > .text {
  color: $primaryGray;
}
.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
  @include appDefaultFontStyleMedium();
}
.ui.page.modals.dimmer.transition.visible.active {
  overflow-y: scroll !important; 
}
.clearBoth {
  clear: both;
}
.textCenter {
  text-align: center;
}

body.noscroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100%;
}

body.noscroll-login {
  @media (max-width: $screen-xs-sm) {
    overflow: hidden !important;
    position: fixed !important;
    width: 100%;
  }
}

body.noscroll-login-tablet {
  @media (max-width: $screen-sm-min) {
    overflow: hidden !important;
    position: fixed !important;
    width: 100%;
  }
}

body.noscroll-thank {
  overflow: hidden !important;
}

.borderRadius100 {
  border-radius: 100%;
}

.customWarningMsgModal  {
  width: 550px;
  margin: 0 auto;
  padding: 55px 30px 30px;
  background: white;
  box-shadow: 0 5px 13px 0 rgba(166, 166, 166, 0.5);
  border-radius: 5px;
  font-size: $deskSz4;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $primaryBlue;
  font-weight: 400;
  position: relative;
  .closeButtonHolder {
    position: absolute;
    right: 0;
    top: 15px;
    float: right;
    font-size: 18px;
  }
  .ui.button.secondary.closeBtn {
    display: block;
    margin: 0 auto;
  }
  .actionButtons {
    margin: 20px auto;
    text-align: center;
    .ui.button.navBtn {
      background-color: inherit;
      color: inherit;
    }
  }
  .image-link-div-wrapper {
    margin-top: 40px;
  }
  .image-link-div {
    padding-bottom: 16px;
    font-size: 16px;
    .forgot-email-template-image {
      height: 29px;
      width: 29px;
      display: inline-block;
      vertical-align: middle;
    }
    .forgot-email-template-label {
      background: none;
      font-size: 1em;
      line-height: 1.38;
      text-align: left;
      color: $primaryBlue !important;
      padding-left: 14px;
      vertical-align: top;
    }
  }
}

@media (max-width: $screen-xs-sm) {
  .customWarningMsgModal  {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    border-radius: 0;
  }
}
.text-right{
  text-align: right;
}