/*
 * Component: LollypopCarousel
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")
.lollypop-carousel {
  width: 100%;
  max-width: $screen-windows-lg;
  height: 368px;
  margin: auto;
  overflow: hidden;
  position: relative;
  .ui.segment.carousel-segment-homepage {
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-repeat: repeat;
    border: 0;
    margin: 0;
    border-radius: 0px;

    .slick-slider {
      overflow: hidden;
      .slick-track {
        display: flex;
        flex-direction: row;

        .slick-slide {
          height: auto;
          min-height: 0;
          position: relative;
          display: -ms-flexbox;
          display: flex;
        }
      }
    }

    button {
      &.slick-prev,
      &.slick-next {
        position: absolute;
        z-index: 99;
        border: none;
        background: transparent;
        color: red;
        font-size: 0;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        padding-bottom: 76px;
      }
      &.slick-prev {
        left: 0px;
        &::before {
          content: "";
          background: url(/assets/images/left-arrow.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 20px;
          height: 36px;
          position: absolute;
          left: 10px;
          right: 0;
          display: block;
          margin: 0 auto;
          top: 15px;
          bottom: 0;
        }
      }
      &.slick-next {
        right: 0px;
        &::before {
          content: "";
          background: url(/assets/images/right-arrow.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 36px;
          position: absolute;
          left: -18;
          right: 14px;
          display: block;
          margin: 0 auto;
          top: 15px;
          bottom: 0;
        }
      }
    }

    .slick-dots {
      padding: 0;
      margin: 0 auto;
      width: 50%;
      list-style: none;
      text-align: center;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      li {
        display: inline-block;
        button {
          padding: 0;
          width: 15px;
          height: 15px;
          margin: 0 10px;
          border-radius: 50%;
          text-indent: -9999px;
          background: transparent;
          border: 1px solid $primaryBlue;


          &:focus {
            outline: 0;
          }
        }
        &.slick-active {
          button {
            background: $primaryBlue;
            border: 1px solid $primaryBlue;
          }
        }
      }
    }
  }
}

// Small Breakpoint
@media (max-width: $screen-sm-min) {
  .lollypop-carousel {
    height: 325px;
    .ui.container {
      margin-left: 0px !important; //need
    }
  }
}

@media (max-width: $screen-xs-sm) {
  .lollypop-carousel {
    height: 230px;
  }
}

// Medium Breakpoint
@media (min-width: $screen-md-min) {
  .lollypop-carousel {
    // override sm breakpoint styles
  }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
  .lollypop-carousel {
    // override md breakpoint styles
  }
}
