/*
 * Component: LollypopCasouselItem
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")

.lollypop-casousel-item {
  width: 100%;
  .lollypop-circle-outer {
    height: 452px;
    width: 450px;
    position: absolute;
    top: -40px;
    left: 20px;
    border: solid 2px $primaryWhite;
    border-radius: 50rem;
  }
  .lollypop-circle {
    z-index: 1;
    height: 430px;
    width: 430px;
    background-color: $primaryRed;
    border-radius: 225px;
    top: -30px;
    position: relative;
    display: inline-block;
    padding: 65px;
    padding-top: 105px;
    left: 30px;
    .richText {
      h1 {
        color: $primaryWhite;
        @include appDefaultFontStyleLight();
        font-size: $deskSz1;

        b {
          @include appDefaultFontStyleRegular();
        }
      }
      h3 {
        font-size: 25px;
        line-height: 1;
        color: $primaryWhite;
        @include appDefaultFontStyleMedium();
      }
      h4 {
        font-size: 16px;
        color: $primaryWhite;
        margin-top: 10px;
      }
      p {
        font-size: $deskSz7;
        color: $primaryWhite;
        @include appDefaultFontStyleLight();
      }
    }
    .video-cast {
      font-size: $deskSz6;
      margin-top: 24px;
      display: inline-block;
      padding-bottom: 4px;
      .ui.button.play-icon {
        border-radius: 2em;
        border: solid 1px #ffffff;
        height: 41px;
        width: 126px;
        padding: 0px;
        font-size: $deskSz9;
        i.icon {
          margin: auto;
          font-size: $deskSz21;
        }
      }
    }
    .learn-more {
      @include appDefaultFontStyleRegular();
      color: $primaryWhite;
      font-size: $deskSz6;
      margin-top: 24px;
      display: inline-block;
      padding-bottom: 4px;
      &:hover {
        border-bottom: 1px solid;
      }
      .ui.button.play-icon {
        border-radius: 2em;
        border: solid 1px #ffffff;
        height: 41px;
        width: 126px;
        padding: 0px;
        font-size: $deskSz9;
        i.icon {
          margin: auto;
          font-size: $deskSz21;
        }
        &:hover {
          border-bottom: 0px;
        }
      }
      .search-go-icon {
        display: inline-block;
        height: 25px;
        width: 25px;
        background-position: center;
        background-size: cover;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
  .banner {
    background-size: cover !important; //need
  }
}

.sub-page-carousel {
  .sub-page {
    max-height: 297px;
    .lollypop-circle {
      top: -48px;
      left: 76px;
      padding-top: 71px;
    }
    .lollypop-circle-outer {
      top: -60px;
      left: 66px;
    }
    .learn-more {
      font-size: $deskSz7;
    }
    .richText .rich-text {
      h1 {
        font-size: $deskSzBig;
        @include appDefaultFontStyleRegular();
      }
    }
  }
}

// Medium Breakpoint
@media (max-width: $screen-md-min) {
  .lollypop-casousel-item {
    height: 323px;
    .banner {
      height: 100%;
      overflow: hidden;
    }
    .lollypop-circle {
      height: 359px;
      width: 374px;
      border-radius: 225px;
      top: -14px;
      padding: 65px;
      // padding-top: 90px;/
      left: 16px;
      .richText {
        h1 {
          color: $primaryWhite;
          @include appDefaultFontStyleLight();
          font-size: $deskSz2;

          b {
            @include appDefaultFontStyleRegular();
          }
        }
        p {
          font-size: $deskSz7;
          color: $primaryWhite;
          @include appDefaultFontStyleLight();
        }
      }
    }
    .lollypop-circle-outer {
      height: 375px;
      width: 391px;
      top: -22px;
      left: 8px;
    }
  }
  .sub-page-carousel {
    .sub-page {
      .lollypop-circle {
        top: -30px;
        left: 50px;
        padding-top: 67px;
      }
      .lollypop-circle-outer {
        top: -38px;
        left: 42px;
      }
    }
  }
}

// Medium Breakpoint
@media (max-width: $screen-xs-sm) {
  .our-department-carousel {
    .lollypop-casousel-item {
      &.sub-page {
        display: unset !important;
        .lollypop-circle-outer {
          top: -14px;
          left: -27px;
        }
        .lollypop-circle {
          top: -8px;
          left: -22px;
          padding: 40px;
          .richText {
            .rich-text {
              h1 {
                font-size: $deskSz8;
                margin-bottom: 7px;
              }
              p {
                font-size: $deskSzSmaller;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $screen-sm-min) {
   .lollypop-casousel-item {
    height: 323px;
    .banner {
      height: 100%;
      overflow: hidden;
    }
    .lollypop-circle {
      height: 359px;
      width: 374px;
      border-radius: 225px;
      top: -14px;
      padding: 65px;
      // padding-top: 90px;
      left: 16px;
      .centerAlignVertical {
        @include transform(translateY(12%));
      }
      .richText {
        h1 {
          color: $primaryWhite;
          @include appDefaultFontStyleLight();
          font-size: $deskSz21;
          margin-bottom: 10px;
          width: 256px;
          b {
            @include appDefaultFontStyleRegular();
          }
        }
        p {
          font-size: $deskSz9;
          color: $primaryWhite;
          @include appDefaultFontStyleLight();
        }
      }
      .learn-more {
        @include appDefaultFontStyleRegular();
        color: $primaryWhite;
        font-size: $deskSz9;
        margin-top: 12px;
        display: block;
        .search-go-icon {
          display: inline-block;
          height: 25px;
          width: 25px;
          background-position: center;
          background-size: cover;
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
    .lollypop-circle-outer {
      height: 375px;
      width: 391px;
      top: -22px;
      left: 8px;
    }
  }
  .our-department-carousel {
    .lollypop-casousel-item {
      &.sub-page {
        display: unset !important;
      }
    }
  }
}
// Small Breakpoint
@media (max-width: $screen-xs-sm) {
  .lollypop-casousel-item {
    height: 199px;
    .lollypop-circle {
      left: -19px !important;
      padding: 32px;
      height: 217px;
      width: 217px;
      top: -5px !important;
      padding-top: 31px !important;
      .richText {
        margin-top: 0px;
        h1 {
          font-size: $deskSz9 !important;
          width: 179px;
          margin-bottom: 5px;
        }
        p {
          font-size: $deskSzSmall !important;
          width: 163px;
          margin-bottom: 5px;
          line-height: 1;
        }
      }
      .learn-more {
        @include appDefaultFontStyleRegular();
        color: $primaryWhite;
        font-size: 16px;
        height: 35px;
        display: block;
        text-align: left;
        .ui.button.play-icon {
          border-radius: 2em;
          border: solid 1px $primaryWhite;
          height: 30px;
          width: 83px;
          padding: 0px;
          margin-left: calc(50% - 41px);
          i.icon {
            margin: 0px;
            width: 20px;
            margin-top: 3px;
            font-size: 1.3em;
          }
        }
        .search-go-icon {
          display: inline-block;
          height: 20px;
          width: 20px;
          background-position: center;
          background-size: cover;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
    .lollypop-circle-outer {
      height: 227px;
      width: 227px;
      top: -10px !important;
      left: -24px !important;
    }
    .banner {
      height: 100%;
      overflow: hidden;
      background-size: cover !important; //need
      background-position: center !important; //need
    }
  }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
  .lollypop-casousel-item {
    // override md breakpoint styles
  }
}
