<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.gtmid %>');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="BMO Economics">
    <meta name="author" content="GALE Partners">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700" rel="stylesheet">
    <link type="text/plain" rel="author" href="/humans.txt" />
  </head>
  <body>

    <div id="unchained" data='{{content}}'></div>
    <main id="app"></main>
    <script type="text/javascript">
      document.write(
        "<script type='text/javascript' src='<%= htmlWebpackPlugin.options.devPublicPath %>/<%= htmlWebpackPlugin.options.cmsFilePath %>.js?v=" + Date.now() + "'><\/script>"
      );
    </script>
    <!-- JS file will be automatically added here by html-webpack-plugin -->
  </body>
</html>
