/*
 * Component: UserProfileHeaderLinks
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")
.auth-modal-not-logged {
    &.ui.modal {
        max-width: 340px;
        @include boxShadow(0, 0, 20px, 0, rgba(109, 109, 109, 0.53));
        margin-top: 0px !important; // need
        position: absolute;
        margin: 0 !important;
        left: -116px;
        top: 40px;
        &:before {
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 16px solid #fff;
            content: '';
            top: -16px;
            position: absolute;
            right: 36px;
            overflow-y: unset;
        }
        .not-logged-modal-close {
            width: 20px;
            height: 20px;
            float: right;
            padding: 0;
            margin-bottom: 17px;
        }
    }
    .form-container {
        clear: both;
        .ui.heading {
            @include appDefaultFontStyleLight();
            font-size: $deskSz7;

            text-align: left;
            color: $primaryBlue;
            line-height: 1.36;
        }
    }
}

.user-profile-header-links {
    color: $primaryWhite;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    position: relative;
    left: 9px;
    span {
        padding: 0;
    }
    .user-bookmark .notification-circle {
        background-color: $primaryRed;
        color: $primaryWhite;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -8px;
        border-radius: 20px;
        padding: 0;
        font-size: 0.875em;
        right: 2px;
        text-decoration: none;
        z-index: 1;
        font-size: $deskSzSmaller;
        &:hover {
            text-decoration: none;
        }
    }
    .user-book-mark-menu {
        ul {
            .profile-icon-sub-links {
                &:focus, a:focus {
                    outline: none;
                }
                &:first-child {
                    padding-top: 18px;
                }
                &:last-child {
                    padding-bottom: 6px;
                    border-top: solid 1px #fff;
                    padding-top: 10px;
                    margin-top: 8px;
                    @include appDefaultFontStyleMedium();
                }
            }
        }
    }
    .active-back-side {
        display: none;
    }
    .name-and-date,
    .user-prof-short-cut-icons {
        display: inline;
        vertical-align: middle;
        .can-not-bookmark {
            .popup-text-content {
                left: -23px !important;
            }
        }
        .user-profile {
            &:focus, span:focus {
                outline: none
            }
            position: relative;
            display: inline-block;
            width: 45px;
            text-align: center;
            &:hover {
                .ui.image.pop-up-element.on-hover {
                    display: inline-block !important;
                }
                .ui.image.pop-up-element {
                    display: none !important;
                }
            }
            .ui.image.pop-up-element.on-hover {
                display: none !important;
            }
            .ui.image.pop-up-element {
                display: inline-block !important;
            }
            img {
                display: inline-block;
                height: 28px;
                width: 23px;
                padding-bottom: 5px;
                &:focus {
                    outline: none
                }
            }
            .bmo-pop-up {
                .triangle {
                    top: 5px !important;
                    background-color: $menuBlue;
                    box-shadow: none !important;
                }
                .popup-text-content {
                    top: 12px;
                    left: -65px;
                    position: relative;
                    @include appDefaultFontStyleRegular();
                    .user-profile-menu.not-loggedin-profile {
                        height: 85px;
                        padding: 25px;
                        text-align: left;
                        .ui.heading {
                            color: $primaryWhite;
                            @include appDefaultFontStyleRegular();
                        }
                    }
                }
            }
            .mobile-view {
                display: none;
            }
        }
        .user-bookmark {
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 45px;
            height: 22.4px;
            text-align: center;
            &:focus, span:focus {
                outline: none
            }
            &:hover {
                .ui.image.pop-up-element.on-hover {
                    display: inline-block !important;
                }
                .ui.image.pop-up-element {
                    display: none !important;
                }
            }
            .ui.image.pop-up-element.on-hover {
                display: none !important;
            }
            .ui.image.pop-up-element {
                display: inline-block !important;
            }
            img {
                display: inline-block;
                height: 28px;
                width: 16.3px;
                padding-bottom: 5px;
                &:focus {
                    outline: none
                }
            }
            .bmo-pop-up {
                .triangle {
                    top: 12px !important;
                    background-color: $menuBlue;
                    box-shadow: none !important;
                }
                .popup-text-content {
                    top: 19px;
                    left: -25px;
                    position: relative;
                    .user-book-mark-menu {
                        position: relative;
                        top: 0;
                        &.no-bookmarks {
                            height: 85px;
                            padding: 25px;
                            text-align: left;
                            .ui.heading {
                                color: $primaryWhite;
                                @include appDefaultFontStyleRegular();
                            }
                        }
                        &.length-zero {
                            padding: 25px;
                            text-align: left;
                            .ui.heading {
                                color: $primaryWhite;
                                @include appDefaultFontStyleRegular();
                            }
                        }
                    }
                }
            }
            .mobile-view {
                display: none;
            }
        }
        .user-profile-menu {
            position: relative;
            background-color: $menuBlue;
            display: block;
            width: 320px;
            z-index: 100;
            border-radius: 0 0 5px 5px;
            ul {
                padding-left: 0;
                margin: 0;
                list-style: none;
                @include appDefaultFontStyleRegular();
                .profile-icon-sub-links {
                    outline: none;
                    &:focus,
                    &:hover,
                    &:active,
                    &:visited,
                    a:focus,
                    a:hover,
                    a:active,
                    a:visited {
                        outline: none;
                    }
                    &:first-child {
                        padding-top: 18px;
                    }
                }
                li:focus {
                    outline: none;
                }
                li.log-out-link {
                    @include appDefaultFontStyleMedium();
                    border-top: solid 1px $primaryWhite;
                    padding-top: 10px;
                    padding-bottom: 6px;
                    margin-top: 9px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .pop-up-element {
            cursor: pointer;
        }
        .user-book-mark-menu {
            position: absolute;
            background-color: $menuBlue;
            display: block;
            width: 320px;
            z-index: 100;
            border-radius: 0 0 5px 5px;
            ul {
                padding-left: 0;
                margin: 0;
                list-style: none;
                @include appDefaultFontStyleLight();
                li.log-out-link {
                    @include appDefaultFontStyleRegular();
                }
            }
            .profile-icon-sub-links {
                a {
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    color: $primaryWhite;
                    &:hover {
                        @include boxShadow(0, 1px, 0, 0, $primaryWhite);
                        color: $primaryWhite;
                    }
                }
            }
        }
    }
    .name-and-date {
        display: inline-block;
        position: relative;
    }
    .name-label {
        color: $primaryWhite;
        margin: 0 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        max-width: 300px;
        display: inline-block;
        vertical-align: middle;
        font-size: $deskSzSmall;
        margin-top: 2px;
        &:hover {
            @include boxShadow(0, 1px, 0, 0, $primaryWhite);
        }
        &:focus {
            outline: none;
        }
    }
}

// Medium Breakpoint
@media (max-width: $screen-md-min) {
    .auth-modal-not-logged {
        &.ui.modal {
            width: 500px !important;
            left: -119px;
            top: 39px;
        }
    }
}

@media (max-width: $screen-tab) {
    .auth-modal-not-logged {
        &.ui.modal {
            width: 500px !important;
            left: -147px;
        }
        .ui.container {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
    .user-profile-header-links {
        .name-and-date {
            margin-right: 15px;
            max-width: 64%;
        }
        .name-label {
            padding: 0 5px;
            max-width: 100%;
            margin: 0;
        }
        .user-prof-short-cut-icons {
            .user-bookmark {
                position: relative;
                width: 40px;
                cursor: pointer;
                .mobile-view {
                    display: block;
                    .popup-text-content {
                        position: absolute;
                        top: 41px;
                        right: -5px;
                        .user-book-mark-menu {
                            position: relative;
                            top: 0;
                            &.no-bookmarks {
                                height: 85px;
                                padding: 25px;
                                text-align: left;
                                .ui.heading {
                                    color: $primaryWhite;
                                    @include appDefaultFontStyleRegular();
                                }
                            }
                            &.length-zero {
                                padding: 25px;
                                text-align: left;
                                .ui.heading {
                                    color: $primaryWhite;
                                    @include appDefaultFontStyleRegular();
                                }
                            }
                        }
                    }
                }
                &.true {
                    .active-back-side {
                        position: absolute;
                        display: block;
                        top: -20px;
                        height: 62px;
                        width: 45px;
                        background-color: $menuBlue;
                    }
                }
                &:hover {
                    .ui.image.pop-up-element.on-hover {
                        display: none !important;
                    }
                    .ui.image.pop-up-element {
                        display: inline-block !important;
                    }
                }
                .bmo-pop-up {
                    display: none !important;
                }
            }
            .user-profile {
                position: relative;
                width: 40px;
                cursor: pointer;
                text-align: center !important;
                &.true {
                    .active-back-side {
                        position: absolute;
                        display: block;
                        top: -20px;
                        height: 62px;
                        width: 45px;
                        background-color: $menuBlue;
                    }
                }
                &:hover {
                    .ui.image.pop-up-element.on-hover {
                        display: none !important;
                    }
                    .ui.image.pop-up-element {
                        display: inline-block !important;
                    }
                }
                .bmo-pop-up {
                    display: none !important;
                }
                .mobile-view {
                    display: block;
                    .popup-text-content {
                        position: absolute;
                        right: -5px;
                        top: 41px;
                        .user-profile-menu.not-loggedin-profile {
                            height: 85px;
                            padding: 25px;
                            text-align: left;
                            .ui.heading {
                                color: $primaryWhite;
                                @include appDefaultFontStyleRegular();
                            }
                        }
                    }
                }
            }
            .user-book-mark-menu {
                top: 30px;
            }
            a {
                img {
                    display: inline-block;
                    height: 1.5em;
                }
            }
        }
    }
}

// Small Breakpoint
@media (max-width: $screen-xs-min) {
    .user-profile-header-links {
        span {
            padding: 0 10px;
            display: inline-block;
        }
        .user-prof-short-cut-icons {
            .user-bookmark {
                .mobile-view {
                    .popup-text-content {
                        position: absolute !important;
                        top: 38px !important;
                        right: -1px !important;
                        .user-book-mark-menu {
                            width: 100vW;
                        }
                    }
                }
            }
            .user-profile {
                .popup-text-content {
                    position: absolute !important;
                    top: 38px !important;
                    right: -41px !important;
                    .user-profile-menu {
                        width: 100vW;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-sm) {
    .auth-modal-not-logged {
        &.ui.modal {
            width: 100% !important;
            position: fixed;
            left: 0.58px;
            max-width: 99.55%;
            top: 48px;
            height: 161px;
            border-radius: 8px;
            &:before {
                top: -10px;
                right: 45px;
            }
            .content {
                border-radius: 8px;
                overflow-y: scroll;
                height: 100%;
                position: relative;
            }
        }
    }
    .user-profile-header-links {
        width: calc(100% - #{$mega-menu-icon-width});
        padding-right: 10px;
        .user-bookmark .notification-circle {
            background-color: $primaryRed;
            color: $primaryWhite;
            height: 20px;
            width: 20px;
            position: absolute;
            top: -11px;
            border-radius: 20px;
            padding: 1px;
            font-size: $deskSzSmallest;
            right: 0px;
            text-decoration: none;
            z-index: 1;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
    .user-profile-header-links {
        // override md breakpoint styles
    }
}
