/*
 * Component: DownloadFailedModal
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")

.ui.modal.download-failed-modal {
  height: 250px;
  width: 550px;
  margin: auto;
  left: 30%;
  margin: 0 auto !important;
  top: 40%;
  p {
    color: $errorPageRed;
    font-size: $deskSz21;
    line-height: 1;
    font-weight: $Small;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .close-button-bar {
    width: 100%;
    text-align: right;
  }
}

// Small Breakpoint
@media (max-width: $screen-sm-min) {
  .ui.modal.download-failed-modal {
    left: 14%;
  }
}

// Medium Breakpoint
@media (max-width: $screen-xs-sm) {
  .ui.modal.download-failed-modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
  .download-failed-modal {
    // override md breakpoint styles
  }
}
